<div class="data_item">
	<h3><%= link_to data_set.name, data_set_path(data_set) %><% if data_set.samplefile? %>
	<span style="float: right;"><%= link_to "Download sample data", data_set.samplefile.url, {:class => "small orange awesome"} %></span>
	<% end%></h3>
	<div class="organization"><% unless data_set.organization.blank? %><%= link_to data_set.organization.name, organization_path(data_set.organization) %><% end %></div>
	<div class="snippet"><% unless data_set.description.blank?  %>
    <%= first_x_words(strip_tags(data_set.description),30,'...') %>
  	<% end %> </div>
</div>


